body {
  font-family: 'Abel', sans-serif;
  font-weight: 300;
  padding-top: 90px;
}

p{
  font-size: 1.4em;
  /* margin: 40px; */
}

a{
  text-decoration: none;
  /* color: black; */
}
.navbar-fixed-top{
  padding: 20px;
  background-color: #ffffff;
  border-style: outset;
  border-style: none none solid none;
  border-width: 2px;
  border-color: black;
}

.bodycontent{
  padding-top: 90px;
}

.menu-item{
  color:black;
  text-align: center;
}
.menu-item:hover{
  letter-spacing: 1px;
  text-indent: -3px;
  color:#525252;
  transition: all 0.5s ease;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  float: left;
  font-size: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

#writing-jumbo{
  background-image: url('images/euro_banner.jpeg');
  background-size: cover;
}

#headshot{
  float: right;
  max-width: 30%;
  height:auto;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;

}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
